/* Font Style */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common Style */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
/* Banner-Part-Start */
.Banner{
    border: none;
    display: flex;
    background-color:blueviolet;
    height: 700px;
}
.fas{
    display: inline-block;
    justify-content: right;
    font-size: 40px;
    color:white;
}
.Bannerleft{
    width:50%;
    margin: 10% 5%;
    align-content: center;
    color: cornsilk;
    font-size:30px;
    

}
.button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(blue,aqua);
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 5px;
    margin-left: 15px;
}
.Bannerright{
    margin: 5% 5%;
    padding:5% 5% 5% 5%
}
/* Banner-Part-End */

/* All-Players-Section-Start */
.Playerslist{
      display: grid;
      margin: 10% 15% 10% 15%;
      grid-template-columns: repeat(3,1fr);
      grid-column-gap: 10px;
      /* grid-column-start: 20px;
      grid-column-end: 20px; */
}  
.Player{
    margin: 10% 10%;
    padding: 1% 1%;
    text-align: left;
    box-shadow: 10px 10px 10px gray;
      
}  
  .player.Playerimage img{

    width: 330px;
    height: 256px; 
    
}
.Playerinfo{
    
    width: 300px;
    height: 230px;
    
} 
/* All-Players-Section-Start */
/* Extra-Part-Start  */
.Extra{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
/* form-Create */
h2{
    margin-left: 15px;
    color: rgb(43, 92, 226);
}
.input{
    display: flex;
    width: 50%;
    margin-bottom: 15px;
    margin-left: 15px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid dodgerblue;
  }
  /* Extra-Part-End  */
  /* Footer-Part-Start  */
  .footer{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.Social-Icons{
    
    font-size: 30px;

}
.Copyright{
    font-size: 100%;
}
/* Footer-Part-End  */
/* Media-Queries */
/* Mobile-Device */
@media only screen and (max-width:688px){
    /* Banner-Part-Start */
    .Banner{
        border: none;
        display: flex;
        flex-direction: column;
        background-color:blueviolet;
        height: 700px;
    }
    .Bannerleft{
        width: 300px;
        height: 138px;
        margin: 10% 5%;
        align-content: left;
        color: cornsilk;
        font-size:15px;
        
    
    }
    .button {
        text-decoration: none;
        color: white;
        background-image: linear-gradient(blue,aqua);
        font-weight: 50;
        padding: 5px 5px;
        border-radius: 5px;
    }
    .Bannerright img{
        justify-content: left;
        align-content: left;
        margin-top: 30%;
        width: 290px;
        left: 344px;
        
    }
/* Banner-Part-End */
/* All-Player-Section-Start */
    .Playerslist{
        display: grid;
        margin: 1% 1% 1% 1%;
        grid-template-columns: repeat(1,1fr);
    }
    .Player{
        margin: 2% 2%;
        padding: 1% 1%;
        text-align: left;
        box-shadow: 10px 10px 10px gray;
          
    } 
    /* All-Player-Section-End */
    /* Extra-Part-Start  */
    .Extra{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .video{
        padding: 1% 1%;
        justify-content: left;
        width:280px !important;
        
    }
    /* Extra-Part-End  */
     /* Footer-Part-Start  */
    .footer{
        display: flex;
       flex-direction: column;
       justify-content: left;
       align-items: left;
    }
    .footer img{
        width: 200px;
    }
     /* Footer-Part-End */
}
    

